$phthalo-green: #132;
$cosmic-latte: #fff8e7;

body {
    display: grid;
    place-items: center;
    background-color: $phthalo-green;
    color: $cosmic-latte;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    
    h1 {
        font-size: 1.75rem;
    }
}
