/***********
 * Colors *
 ***********/

// Greens
$bright-mint: #0FD974;
$dark-phthalo-green: #1D3328;
$extra-dark-phthalo-green: #0D2619;
$light-phthalo-green: #367354;
$phthalo-green: #132;
$pine-green: #2B4035;

// Accents
$cosmic-latte: #fff8e7;
$black: #000;
$white: #fff;

/*********
 * Fonts *
 *********/

@font-face {
    font-family: 'Inter';
    src: url(../fonts/InterVariableFont.ttf) format('truetype');
}

// Family.
$font-family-inter: 'Inter', serif;

// Colors
$dark-font: $extra-dark-phthalo-green;
$light-font: $cosmic-latte;

// Weights.
$font-weight-bold: 700;
$font-weight-normal: 400;

// Golden Ratio and font sizes.
$golden-ratio: 1.618;
$rounding-interval: 1;
$line-height: round(nearest, $golden-ratio, $rounding-interval);

$font-size-4: 1.25rem;
$font-size-3: 1.75rem;
$font-size-2: 2rem;
$font-size-1: 5.25rem;

/*********************
 * General Variables *
 ********************/

// Alphas
$low-alpha: 0.05;
$low-mid-alpha: 0.2;

// Timings
$quick-ease: 0.25s ease;
$medium-ease: 0.5s ease;

// Other
$border-radius: 0.5rem;
$flash-light: 0 0 250px 250px;
$frosted-glass: blur(1rem);
$scroll-margin: 150px;
$site-width: min(100%, 1000px);
$site-desktop-padding: 0 2em;
$site-mobile-padding: 0 1em;
$header-shadow: 0px 1px 1px 1px rgba($white, $low-alpha);
$footer-shadow: 0px -1px 1px 1px rgba($white, $low-alpha);
$header-divider: 2px solid $phthalo-green;


/***************
* Breakpoints *
***************/

$breakpoint-up-vertical-tablet: 768px;
$breakpoint-up-mobile: 426px;