@import 'variables';

/*****************
 * Global Styles *
 *****************/

* {
    box-sizing: border-box;
}

::selection {
    background-color: $phthalo-green;
    color: $light-font;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: $pine-green;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $light-phthalo-green;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $extra-dark-phthalo-green;
    color: $light-font;
    font-weight: $font-weight-normal;
    font-family: $font-family-inter;
    line-height: $line-height;
    position: relative;
    margin: 0;

    h1 {
        font-size: $font-size-1;
    }

    h2 {
        font-size: $font-size-2;
    }

    h3 {
        font-size: $font-size-3;
        text-transform: uppercase;
    }

    h4 {
        font-size: $font-size-4;
    }

    i {
        font-style: normal;
    }

    .dark {
        color: $dark-font;
    }

    .frosted {
        backdrop-filter: $frosted-glass;
    }

    .highlight {
        color: $bright-mint;
        font-weight: $font-weight-normal;
        
        &--bold {
            font-weight: $font-weight-bold;
        }
    }

    .icon {
        &::before {
            content: '';
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            height: 1.5rem;
            width: 1.5rem;
        }

        &--linkedin {
            &::before {
                background-image: url('../assets/icons/linkedin.svg');
            }
        }
    
        &--github {
            &::before {
                background-image: url('../assets/icons/github.svg');
            }
        }
    
        &--email {
            &::before {
                background-image: url('../assets/icons/email.svg');
            }
        }

        &--python {
            &::before{
                background-image: url('../assets/icons/python.svg');
            }
        }

        &--php {
            &::before{
                background-image: url('../assets/icons/php.svg');
            }
        }

        &--js {
            &::before{
                background-image: url('../assets/icons/js.svg');
            }
        }

        &--cursor {
            &::before {
                background-image: url('../assets/icons/cursor.svg');
            }
        }
        
        &--pointer {
            &::before {
                background-image: url('../assets/icons/pointer.svg');
            }
        }

        &--twitch {
            &::before {
                background-image: url('../assets/icons/twitch.svg');
            }
        }
        
        &--large {
            &::before{
                height: 2rem;
                width: 2rem;
            }
        }

        &--black {
            filter: invert(1);
        }
    }

    #flashlight {
        box-shadow: $flash-light $light-font;
        mix-blend-mode: overlay;
        position: absolute;
        transition: opacity $medium-ease;
        z-index: 20;
        left: 30%;
        top: 4em;
        opacity: 0.4;

        @media screen and (min-width: $breakpoint-up-vertical-tablet) {
            opacity: 0;
        }
    }
}

/*****************
 * Header Styles *
 *****************/

.site-header {
    display: none;
    
    @media screen and (min-width: $breakpoint-up-vertical-tablet) {
        display: grid;
        background-color: rgba($extra-dark-phthalo-green, $low-alpha);
        position: sticky;
        top: 0;
        transition: background-color $quick-ease, box-shadow $quick-ease;
        width: 100%;
        z-index: 40;
        place-items: center;

        &--shadow {
            box-shadow :$header-shadow;
        }
    }

    &__content {
        width: $site-width;
        padding: $site-mobile-padding;

        @media screen and (min-width: $breakpoint-up-mobile) {
            padding: $site-desktop-padding;
        }
    }


    nav {
        display: flex;
        justify-content: flex-end;

        ul {
            align-items: center;
            justify-content: flex-end;
            display: flex;
            gap: 1em;
            list-style-type: none;
            padding: 0;
            text-transform: uppercase;

            li {
                border-radius: $border-radius;
                border: 1px solid transparent;
                display: grid;
                place-items: center;
                transition: background-color $quick-ease, border $quick-ease;
                
                a {
                    color: $white;
                    padding: 1em;
                    text-decoration: none;
                    position: relative;

                    &::after {
                        content: '';
                        background-color: $white;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 2px;
                        position: absolute;
                        transition: width $quick-ease;
                        width: 0;
                    }
                }

                &:hover a::after,
                a.active::after {
                    width: 100%;
                }
            }
        }
    }
}

/***************
 * Main Styles *
 ***************/

 .site-main {
    margin: 4em 0 0;
    width: 100%;
    display: grid;
    justify-items: center;
    
    &__content {
        width: $site-width;
        padding: $site-mobile-padding;

        @media screen and (min-width: $breakpoint-up-mobile) {
            padding: $site-desktop-padding;
        }
    }
}

.content-section {
    margin: 4rem 0;
    scroll-margin-top: $scroll-margin;

    &__heading {
        font-size: $font-size-3;
        
        &::after {
            content: '';
            border-bottom: $header-divider;
            display: block;
            margin: 0.5em 0 0;
        }
    }

    &__content {
        margin: 1em 0;

        &--instructions {
            text-align: center;

            .icon {
                &::before {
                    display: inline-grid;
                    transform: translateY(20%);
                }
            }
        }
    }

    .skills {
        list-style: none;
        padding: 0;
        margin: 1.75em 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        .skill {
            border: 1px solid $black;
            border-radius: 1.25em;
            padding: 0.25em 1em;

            &--networking {
                border-color: #555;
                background-color: rgba(#555, $low-mid-alpha);
            }

            &--hardware {
                border-color: #aaa;
                background-color: rgba(#aaa, $low-mid-alpha);
            }

            &--visualbasic {
                border-color: #38a7f6;
                background-color: rgba(#38a7f6, $low-mid-alpha);
            }

            &--java {
                border-color: #e76f00;
                background-color: rgba(#e76f00, $low-mid-alpha);
            }

            &--css {
                border-color: midnightblue;
                background-color: rgba(midnightblue, $low-mid-alpha);
            }

            &--database-management {
                border-color: #a33639;
                background-color: rgba(#a33639, $low-mid-alpha);
            }

            &--security {
                border-color: darkgoldenrod;
                background-color: rgba(darkgoldenrod, $low-mid-alpha);
            }

            &--server-management {
                border-color: maroon;
                background-color: rgba(maroon, $low-mid-alpha);
            }

            &--active-directory {
                border-color: rebeccapurple;
                background-color: rgba(rebeccapurple, $low-mid-alpha);
            }

            &--python {
                border-color: #ffd54a;
                background-color: rgba(#ffd54a, $low-mid-alpha);
            }

            &--dns {
                border-color: teal;
                background-color: rgba(teal, $low-mid-alpha);
            }
            
            &--wordpress {
                border-color: $black;
                background-color: rgba($black, $low-mid-alpha);
            }

            &--php {
                border-color: rgb(119, 123, 179);
                background-color: rgba(119, 123, 179, $low-mid-alpha);
            }

            &--js {
                border-color: rgb(247, 223, 30);
                background-color: rgba(247, 223, 30, $low-mid-alpha);
            }

            &--acf {
                border-color: rgb(0, 218, 180);
                background-color: rgba(0, 218, 180, $low-mid-alpha);
            }

            &--sass {
                border-color: rgb(207, 100, 154);
                background-color: rgba(207, 100, 154, $low-mid-alpha);
            }

            &--cornerstone {
                border-color: $white;
                background-color: rgba($white, $low-mid-alpha);
            }

            &--timber {
                border-color: rgb(43, 64, 53);
                background-color: rgba(43, 64, 53, $low-mid-alpha);
            }

            &--twig {
                border-color: rgb(186, 207, 41);
                background-color: rgba(186, 207, 41, $low-mid-alpha);
            }

            &--excel {
                border-color: #217647;
                background-color: rgba(#217647, $low-mid-alpha);
            }

            &--digital-certificates {
                border-color: goldenrod;
                background-color: rgba(goldenrod, $low-mid-alpha);
            }

            &--mfa {
                border-color: lime;
                background-color: rgba(lime, $low-mid-alpha);
            }

            &--photoshop {
                border-color: #001e36;
                background-color: rgba(#001e36, $low-mid-alpha);
            }

            &--illustrator {
                border-color: #330000;
                background-color: rgba(#330000, $low-mid-alpha);
            }

            &--storyline-360 {
                border-color: skyblue;
                background-color: rgba(skyblue, $low-mid-alpha);
            }

            &--audacity {
                border-color: peru;
                background-color: rgba(peru, $low-mid-alpha);
            }

            &--camtasia {
                border-color: #3c7d00;
                background-color: rgba(#3c7d00, $low-mid-alpha);
            }

            &--lms {
                border-color: sienna;
                background-color: rgba(sienna, $low-mid-alpha);
            }

            &--power-bi {
                border-color: goldenrod;
                background-color: rgba(goldenrod, $low-mid-alpha);
            }

            &--data-vis {
                border-color: rebeccapurple;
                background-color: rgba(rebeccapurple, $low-mid-alpha);
            }

            &--salesforce {
                border-color: #00a0e3;
                background-color: rgba(#00a0e3, $low-mid-alpha);
            }

            &--project-management {
                border-color: pink;
                background-color: rgba(pink, $low-mid-alpha);
            }
        }
    }
}

.hero-section {
    margin: 0 0 5em 0;
    
    &__greeting {
        font-size: inherit;
    }

    &__name {
        font-size: $font-size-3;
    }

    &__title {
        font-size: $font-size-4;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 3rem;
        overflow: hidden;

        li {
            animation: title-slide 4s cubic-bezier(0.83, 0, 0, 0.83) 1s;
        }
    }

    @media screen and (min-width: $breakpoint-up-mobile) {
        margin: 0 0 10em 0;

        &__greeting {
            font-size: $font-size-3;
        }

        &__name {
            font-size: $font-size-1;
        }

        &__title {
            font-size: $font-size-2;
        }

        ul {
            height: 3.75rem;
        }
    }

    &__greeting,
    &__name,
    &__title {
        margin: 0;
    }

    .ahoy {
        position: relative;
        background-color: $extra-dark-phthalo-green;
        z-index: 10;

        &::before {
            content: '⛵';
            display: block;
            font-size: 0;
            left: 50%;
            position: absolute;
            top: 0px;
            transform: translateX(-50%);
            transition: top $medium-ease, font-size $medium-ease;
            visibility: visible;
            z-index: -10;
        }

        &:hover {
            cursor: pointer;

            &::before {
                font-size: $font-size-2;
                top: -50px;
            }
        }
    }
}

.bio-section {
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr;
    justify-content: center;

    &__profile-picture {
        justify-self: center;
        width: 250px;
        height: 250px;

        img {
            width: 100%;
            height: 100%;
            border: 1px solid $phthalo-green;
            filter: grayscale(1);
            transition: transform $quick-ease, box-shadow $quick-ease, filter $quick-ease;

            &:hover {
                box-shadow: rgba($black, $low-alpha) 0px 7px 29px 0px;
                filter: grayscale(0);
                transform: scale(1.05);
            }
        }
    }

    @media screen and (min-width: $breakpoint-up-vertical-tablet) {
        grid-template-columns: 1fr max-content;
        
        &__profile-picture {
            order: 2;
            position: relative;
            z-index: 30;
        }
    }
}

.work-section {
    display: block;
    
    @media screen and (min-width: $breakpoint-up-vertical-tablet) {
        display: grid;
        gap: 1em;
        grid-template-columns: 4fr 5fr;
        margin: 2em 0 0;
    }

    &__table-of-contents {
        display: none;
        white-space: nowrap;

        @media screen and (min-width: $breakpoint-up-vertical-tablet) {
            display: block;
        }

        ul {
            border-left: 2px solid $bright-mint;
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: sticky;
            top: 150px;

            li {
                padding: 0 0 0 2em;
                position: relative;
                transition: padding $quick-ease;

                &::before {
                    content: '';
                    background-color: $bright-mint;
                    display: inline-block;
                    height: 2px;
                    left: 0;
                    margin: 0 1em 0 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: width $quick-ease;
                    width: 0px;
                }

                &.active,
                &:hover{
                    padding: 0 0 0 3em;

                    &::before{
                        width: 2em;
                    }
                }
                
                a {
                    color: inherit;
                    display: block;
                    margin: 0 0 1em 0;
                    padding: 0.5em 0;
                    text-decoration: none;
                }

                &.employer {
                    padding: 0.5em 0;
                    margin: 0 0 0 2em;
                    pointer-events: none;
                    text-wrap: wrap;
                }
            }
        }
    }

    &__articles {
        article {
            margin: 0 0 5em 0;
            scroll-margin-top: 150px;
        }
    }
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin: 2em 0;

    .projects-card {
        perspective: 100em;
        width: 280px;
        height: 280px;

        &:hover {
            cursor: pointer;
        }

        &__container {
            box-shadow: 0px 0px 10px 5px rgba($black, .15);
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.5s;
            display: grid;
            height: 100%;
        }

        &__front, &__back {
            backface-visibility: hidden;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            height: 100%;
            padding: 1.5em;
            position: absolute;
            width: 100%;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
        
        &__front {
            background-color: $phthalo-green;
            border-radius: 0.5em;
            border: 1px solid $bright-mint;
            color: $light-font;
        }
        
        &__back {
            background-color: $cosmic-latte;
            border-radius: 0.5em;
            color: $dark-font;
            transform: rotateY(180deg);

            a {
                align-self: flex-end;
                display: flex;
                gap: 1em;
                justify-self: flex-end;
            }
        }

        &__details {
            align-self: start;
        }
        
        &__title,
        &__subtitle,
        &__description {
            margin: 0;
        }

        &__skills {
            align-items: center;
            align-self: flex-end;
            display: flex;
            gap: 1em;
        }

        &.flipped .projects-card__container {
            transform: rotateY(180deg);
        }
    }
}

/*****************
 * footer Styles *
 *****************/

.site-footer {
    background-color: rgba($black, $low-mid-alpha);
    display: grid;
    place-items: center;
    width: 100%;

    &--shadow {
        box-shadow :$footer-shadow;
    }
    
    &__content {
        width: $site-width;
        padding: $site-mobile-padding;

        @media screen and (min-width: $breakpoint-up-mobile) {
            padding: $site-desktop-padding;
        }
    }

    p {
        text-align: justify;

        a {
            color: $bright-mint;
            text-decoration: none;
            position: relative;
    
            &::before {
                content: '';
                background-color: $bright-mint;
                bottom: -0.1em;
                height: 2px;
                left: 0;
                position: absolute;
                transition: width $quick-ease;
                width: 0%;
            }
    
            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }

        &.copyright {
            a {
                color: $light-font;

                &::before {
                    background-color: $light-font;
                }
            }
        }
    }
}
